@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import URL('https://fonts.googleapis.com/css2?family=Nerko+One&family=Nosifer&display=swap');
body {
     
        font-family: "Nerko One", cursive;
        font-size: 31px;
        font-weight: 400;
        font-style: normal;
        background: #e8ae19;
        color:#000;

    
    
      }
      .header {
        max-width: 1356px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 110px;
      }
      .header__logo {
        display: block;
        width: 88px;
        height: 92px;
        background-image: url(../images/логотип.png);
        background-repeat: no-repeat;
      }
      .form {
        position: relative;

      }

      .form__button{
        display: block;
        width: 31px;
        height: 31px;
        background-image: url(../images/лупа1.png);
        background-repeat: no-repeat;
        background-color:transparent;
        border: none;
        position: absolute;
        top: calc(50% - 13px);
        left: 15px;
      }
        .form__input{
            width: 350px;
            height: 45px;
            background: rgba(224, 222, 203, 0.42);
            opacity: 0.7;
            border-radius: 90px;
            border: none;
            padding: 5px 50px;
            color: #000;
   
        }
        .form__input::placeholder{
            color: rgba(0, 0, 0, 0.5);
           
        }
        .form__input:focus{
        outline: none;
        }

      
      .header__list {
        display: flex;
        list-style-type: none;
        gap: 55px;
      }
      .header__link {
        color:#000;
        text-decoration:none;
        }
        .conteiner{
        max-width: 1356px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        }
        .main{
            display: flex;
            justify-content: space-between;
        }
        .main__text{
            flex-basis:423px ;
        }
        .main__title{
            font-size: 113px;
            font-family: "Nosifer", cursive;
            font-weight: 400;
            font-style: normal;
            margin: 0px 48px;      
              
              
        }
        
            
            

        
        .main__title1{
            font-size: 113px;
            font-family: "Nosifer", cursive;
            font-weight: 400;
            font-style: normal;
            color:#fff;
            margin: 0px 48px;
        }
        .nosifer-regular {
            font-family: "Nosifer", sans-serif;
            font-weight: 400;
            font-style: normal;
          }
          .form__input{
            font-size:20px;

      
    
        
       
        }
        .displayText{
        text-align: center; 
        margin-top: -110px; 
        font-size: 31px;
      }